:root{
     --bg--color :   #efe1cf;
     --bg--color2:  #1f242d;
     --bg-color3: #867474;
     --bg-color4 : #f6e5d0;
     --secondary-bg-color :  #323946;
     --text-color: #fff;
     --main-color: #0ef;
     --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
                        /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--bg--color);
    color: var(--clr-black);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

img{
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
}

/* global variables */
.btn {
    text-transform: uppercase;
    background: var(--bg--color);
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 2.0rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--text-color);
    background: var(--clr-black);
}
.boxShadow{
    box-shadow: 2px 3px 5px -4px #6a6866;
    background: var(--bg--color) !important;
    transition: 0.5s ease-in-out;
}


.header{
    position: fixed;
    background: var(--text-color);
    height: 80px;
    width: 100%;
    z-index: 200;
}


.header .logo{
    font-style: italic;
    font-family:  sans-serif;
    font-size: 2.0rem;
    color: var(--bg-color);
    font-weight: 600;
    line-height: 80px;
    cursor: default;
    margin-left: 100px;
}

.header ul{
    float: right;
    line-height: 80px;
    margin-right: 20px;
}
.header ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}
.header ul li a{
    font-size: 17px;
    padding: 7px 13px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.checkbtn{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    cursor: pointer;
}

 ul li a:hover,
 ul li  a.active{
    color: var(--main-color);
}
.navbar a:hover{
    border-bottom: 4px solid var(--clr-grey-10);
}

.fa-bar{
    z-index: -100;
}
.fa-times{
    z-index: 100;
    animation: rotate 7s ease-in-out infinite !important;
}
#check{
    display: none;
}

#menu-icon{
    font-size: 2.0rem;
    line-height: 40px;
    color: var(--clr-black);
    display: none;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}


@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    color: #1f242d;
}
.home-content {
    text-align: center;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-home{
    width: 50%;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size:  5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--clr-black);
}
.home span{
    color: var(--bg--color);
}
.home-content p{
    width: 84%;
    text-align: justify;
    margin: 10px auto;
    font-size: 2rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--clr-black);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--clr-black);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: var(--bg--color);
    box-shadow: 0 0 1rem var(--bg--color);
}

.social-media .btn{
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    padding: 15px;
}

.home-img img{
    width: 35vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 100px;
}


.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--text-color);
    color: var(--clr-black);
}
.about-text{
    text-align: justify;
}

.about-img {
    width: 40%;
    animation: move 3s ease-in-out infinite;
}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.about-content{
    width: 55%;
}
.about-img img{
    width: 100%;
    border-radius: 50px;
}


.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content p{
    color: var(--clr-black);
    margin: 1rem 0 3rem;
    font-size: 1.8rem;
}

.services{
    background-color: var(--text-color);
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .section-box{
    flex: 1 1 30rem;
    background: transparent;
    color: var(--clr-black);
    padding: 3rem 2rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.4rem solid var(--bg--color);
    transition: .3s ease;
}
.services-container .section-box:hover{
    border-color: var(--clr-black);
    transform: scale(1.0);
}

.section-box i{
    font-size: 5rem;
    margin-bottom: 1.3rem;
    color: var(--main-color);
}

.section-box h3{
    font-size: 2.6rem;
}


.section-box p {
    z-index: 10;
    font-size: 1.9rem;
    color: var(--clr-grey-7);
}

.tools{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tools h1{
    margin: 20px 0px;
}
.tool-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.tool-card img{
    width: 100%;
}
.tool-card{
font-size: x-large;
height: 80px;
width: 80px;
border: 2px solid var(--bg--color);
padding: 12px;
margin: 5px 10px;
box-shadow: 3px 3px 2px silver;
}

.portfolio{
    background: var(--bg--color);

}

.portfolio img{
    width: 300px;
    height: 300px;
}
.portfolio h1{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;

}
.portfolio-container .portfolio-box{
    position: relative;
    box-shadow: 0 0 1rem var(--main-color);
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: 0.5s ease-out;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.9s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0%);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    color: var(--clr-black) ;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 3.2rem;
    color: var(--clr-black);
}

.contact{
    background-color: var(--text-color);
    text-align: center;
    min-height: auto !important;
}

.contact-list h3{
    font-size: 30px;
    padding: 15px 0px;
}
.contact p{
    font-size: 20px;
}
.contact-list .btn{
    margin: 15px 0px;
    background: transparent !important;
    border: 2px solid var(--bg--color);
}
.contact-list .btn:hover{
    color: var(--clr-black);
    background-color: var(--bg--color);
}




@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


footer {
    background: var(--bg--color);
    padding: 5rem 1rem;
}

footer p {
    color: var(--clr-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}


.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--main-color);
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.show-link {
    visibility: visible;
    z-index: 100;
}


@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}



.arrow{
    font-size: 2.3rem;
    border: 1px solid var(--clr-grey-10);
    border-radius: 50%;
    padding: 10px;
    border-color: var(--main-color);
    animation: move 3s ease-in-out infinite;
}





.text{
    display: none;
}

.hide p{
    display: none;
}

.show-text p .text{
    display: inline-flex;
    
}

.hide{
    display: none;
}

.display{
    display: block;
}
